<%- include('../partials/top-document') %> 
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../partials/header') %>
  <main>
    <%- include('../partials/add_edit-form', { product: null }) %>
  </main>

<%- include('../partials/footer') %>